<div>

<h1>Selecting images for an emoji</h1>
<p>
	Emoji are little icons that appear in chat messages like this <img src="static/img/smiley.jpeg">. They are used to represent words or, sometimes, abstract concepts.
</p>
<p>
	For this task you will be looking for images that can be used as emoji for the give keyword.
</p>
<div class="gray-box">
	<h2>Examples for keyword "Sheep"</h2>
	<div class="pure-g-r">
		<div class="pure-u-1-2">
			<div class="l-box">
				<h3>Good emoji</h3>
				
				<p>You can tell immediately that it is a sheep.</p>
				<img src="static/img/good_sheep.gif">
				<img src="static/img/good_sheep2.jpeg">
			</div>
		</div>
		<div class="pure-u-1-2">
			<div class="l-box">
				<h3>Bad emoji</h3>
				
				<p>Blobs of pixels that can be many things. You have to squint really hard to tell what it is.</p>
				<img src="static/img/bad_sheep.jpeg" width="32">
				<img src="static/img/bad_sheep2.jpeg" width="32">
			</div>
		</div>
	</div>
</div>

<h2>Keyword: {{keyword}}</h2> <!--TODO: bind the keyword -->
<p class="big-leading">
	From the gallery below, select three images that best match the keyword above by clicking on them. To deselect an image, just click on it again.
</p>
<p> 
	The image should be <strong>instantly recognizable</strong> as a representation of the keyword. Refer to the "sheep" example above.
</p>
<hr>

<h2>Number of images selected: {{numSelected}} of 3</h2>
<div class="pure-g-r">
	<div class="img-thumb darken-{{img.darken}} selected-{{img.selected}}" ng-repeat="img in images" ng-mouseenter="mouseHover(img)" ng-mouseleave="mouseLeave(img)" ng-click="selectToggle(img)">
		<!-- <img ng-src="{{img.image.thumbnailLink}}" width="32" > -->
		
		<!-- <input type="checkbox" ng-value="img.selected" ng-click="selectToggle()"><br> -->
		<div class="select-check">&#x2713;</div>
		<img ng-src="{{img.url}}" width="32" >
	</div>
</div>


<!-- <button class="pure-button">Show more images</button> -->
<br>
<form ng-submit="submitTask()">
	<button class="pure-button pure-button-primary" ng-click="">Submit</button>
</form>

</div>